# Revenu médian par catégorie Sociopro

In [48]:
import pandas as pd
import os

file_path = "../data_brute/disparités h-f.xlsx"
xls = pd.ExcelFile(file_path)
df = pd.read_excel(xls, sheet_name="Figure 2")

In [64]:
df_csp=df.iloc[4:8,0:3]
df_csp.columns = ["catégorie socio-pro","Femmes","Hommes"]

df_csp.iloc[0,0]="Cadres"
df_csp.head()

          catégorie socio-pro Femmes Hommes
4                      Cadres   4120   4849
5  Professions intermédiaires   2484   2810
6                    Employés   1935   2007
7                    Ouvriers   1811   2080

In [ ]:
df_variation = df.iloc[9:14,[0,2]]
mediane = df_variation.iloc[2,1]
df_variation["coefficient ajustement"] = 1+((df_variation.iloc[:,1]-mediane)/mediane)

df_tranche_age = df_variation.iloc[:,[0,2]]
df_tranche_age.columns = ["écart salaire par tranche d'âge","coefficient ajustement"]
df_tranche_age.head()

   écart salaire par tranche d'âge coefficient ajustement
9                  Moins de 25 ans               0.594725
10                  De 25 à 39 ans                0.83017
11                  De 40 à 49 ans                    1.0
12                  De 50 à 59 ans                1.07816
13                  60 ans ou plus               1.211322

In [71]:
# Initialisation de la liste des résultats
data = []

# Boucles sur chaque combinaison possible
for _, row_csp in df_csp.iterrows():
    for sexe in ["Femmes", "Hommes"]:
        salaire_base = row_csp[sexe]
        for _, row_age in df_tranche_age.iterrows():
            data.append({
                "catégorie socio-pro": row_csp["catégorie socio-pro"],
                "sexe": sexe[:-1],  # Enlève le 's' à la fin pour "Femme" / "Homme"
                "tranche d'âge": row_age["écart salaire par tranche d'âge"],
                "salaire_median": round(salaire_base * row_age["coefficient ajustement"], 2)
            })

# Création du DataFrame final
df_resultat = pd.DataFrame(data)

# Affichage
df_resultat.head(50)

           catégorie socio-pro   sexe    tranche d'âge  salaire_median
0                       Cadres  Femme  Moins de 25 ans         2450.27
1                       Cadres  Femme   De 25 à 39 ans         3420.30
2                       Cadres  Femme   De 40 à 49 ans         4120.00
3                       Cadres  Femme   De 50 à 59 ans         4442.02
4                       Cadres  Femme   60 ans ou plus         4990.65
5                       Cadres  Homme  Moins de 25 ans         2883.82
6                       Cadres  Homme   De 25 à 39 ans         4025.50
7                       Cadres  Homme   De 40 à 49 ans         4849.00
8                       Cadres  Homme   De 50 à 59 ans         5228.00
9                       Cadres  Homme   60 ans ou plus         5873.70
10  Professions intermédiaires  Femme  Moins de 25 ans         1477.30
11  Professions intermédiaires  Femme   De 25 à 39 ans         2062.14
12  Professions intermédiaires  Femme   De 40 à 49 ans         2484.00
13  Professions intermédiaires  Femme   De 50 à 59 ans         2678.15
14  Professions intermédiaires  Femme   60 ans ou plus         3008.92
15  Professions intermédiaires  Homme  Moins de 25 ans         1671.18
16  Professions intermédiaires  Homme   De 25 à 39 ans         2332.78
17  Professions intermédiaires  Homme   De 40 à 49 ans         2810.00
18  Professions intermédiaires  Homme   De 50 à 59 ans         3029.63
19  Professions intermédiaires  Homme   60 ans ou plus         3403.81
20                    Employés  Femme  Moins de 25 ans         1150.79
21                    Employés  Femme   De 25 à 39 ans         1606.38
22                    Employés  Femme   De 40 à 49 ans         1935.00
23                    Employés  Femme   De 50 à 59 ans         2086.24
24                    Employés  Femme   60 ans ou plus         2343.91
25                    Employés  Homme  Moins de 25 ans         1193.61
26                    Employés  Homme   De 25 à 39 ans         1666.15
27                    Employés  Homme   De 40 à 49 ans         2007.00
28                    Employés  Homme   De 50 à 59 ans         2163.87
29                    Employés  Homme   60 ans ou plus         2431.12
30                    Ouvriers  Femme  Moins de 25 ans         1077.05
31                    Ouvriers  Femme   De 25 à 39 ans         1503.44
32                    Ouvriers  Femme   De 40 à 49 ans         1811.00
33                    Ouvriers  Femme   De 50 à 59 ans         1952.55
34                    Ouvriers  Femme   60 ans ou plus         2193.70
35                    Ouvriers  Homme  Moins de 25 ans         1237.03
36                    Ouvriers  Homme   De 25 à 39 ans         1726.75
37                    Ouvriers  Homme   De 40 à 49 ans         2080.00
38                    Ouvriers  Homme   De 50 à 59 ans         2242.57
39                    Ouvriers  Homme   60 ans ou plus         2519.55